.form-container {
  margin: 4rem 6rem;
  color: brown;
}
.form-container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}
.form-container input {
  height: 2rem;
  padding: 0 1 rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 2px solid brown;
}
.form-container textarea {
  padding: 0 1 rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 2px solid brown;
}
.form-container button {
  display: inline;
}
@media screen and (max-width: 850px) {
  .form-container {
    margin: 4rem 2rem;
    flex-direction: column;
  }
  .form-container form {
    padding-top: 3rem;
    width: 90%;
  }
}
